<template>
  <div class="container">
    <h1 class="text-center mt-3 mb-3">Best Recipi of Mine</h1>
    <div class="row">
      <div class="col-md-4" v-for="f in favoritku" v-bind:key="f.index">
        <div class="card mb-3">
            <img :src="f.gambar" class="card-img-top" style="width: 100%; height: 350px; ">
            <div class="card-body text-center">
              <button type="button" class="btn btn-outline-danger btn-block"  data-toggle="modal" data-target="#staticBackdrop" @click="detail(f.id)">{{f.nama}}</button>
              <!-- <button type="button" class="btn btn-warning btn-block" @click="addFav(f.id)">Delete from my Favourite!</button> -->
            </div>
        </div>
      </div>
    </div>

    <!-- MODAL DETAIL-->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #00000094;">
            <h5 class="modal-title" id="exampleModalCenterTitle" style="color: white;">Recipe's Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="keluar()">
              <span aria-hidden="true" style= "color: white">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row" v-for="dm in detailMenu" v-bind:key="dm.idMeal">
                <div class="col-md-4">
                  <img :src="dm.strMealThumb" style="width: 100%; height: 430px; width: 330px;">
                </div>
                <div class="col-md-8">
                    <h2 style="text-align: center; color:white" >{{ dm.strMeal }}</h2>
                  <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">Category</th>
                        <td><span>{{dm.strCategory}}</span></td>
                      </tr>
                      <tr>
                        <th scope="row">Origins</th>
                        <td>{{dm.strArea}}'s Food</td>
                      </tr>
                      <tr>
                        <th scope="row">Ingredients</th>
                        <td>
                          {{dm.strIngredient1}} <span>{{dm.strMeasure1}}</span>,
                          {{dm.strIngredient2}} <span>{{dm.strMeasure2}}</span>,
                          {{dm.strIngredient3}} <span>{{dm.strMeasure3}}</span>,
                          {{dm.strIngredient4}} <span>{{dm.strMeasure4}}</span>,
                          {{dm.strIngredient5}} <span>{{dm.strMeasure5}}</span>,
                          {{dm.strIngredient6}} <span>{{dm.strMeasure6}}</span>,
                          {{dm.strIngredient7}} <span>{{dm.strMeasure7}}</span>,
                          {{dm.strIngredient8}} <span>{{dm.strMeasure8}}</span>,
                          {{dm.strIngredient9}} <span>{{dm.strMeasure9}}</span>,
                          {{dm.strIngredient10}} <span>{{dm.strMeasure10}}</span>,
                          {{dm.strIngredient11}} <span>{{dm.strMeasure11}}</span>,
                          {{dm.strIngredient12}} <span>{{dm.strMeasure12}}</span>,
                          {{dm.strIngredient13}} <span>{{dm.strMeasure13}}</span>,
                          {{dm.strIngredient14}} <span>{{dm.strMeasure14}}</span>,
                          {{dm.strIngredient15}} <span>{{dm.strMeasure15}}</span>,
                          {{dm.strIngredient16}} <span>{{dm.strMeasure16}}</span>,
                          {{dm.strIngredient17}} <span>{{dm.strMeasure17}}</span>,
                          {{dm.strIngredient18}} <span>{{dm.strMeasure18}}</span>,
                          {{dm.strIngredient19}} <span>{{dm.strMeasure19}}</span>,
                          {{dm.strIngredient20}} <span>{{dm.strMeasure20}}</span>,
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Instructions</th>
                        <td>{{dm.strInstructions}}</td>
                      </tr>
                      <tr>
                        <th scope="row">See on Youtube</th>
                        <iframe width="560" height="315" :src="dm.strYoutube.replace('watch?v=','embed/')" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer" style="background-color: #00000094;">
            <button type="button" class="btn btn-outline-light" data-dismiss="modal" @click="keluar()">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
</template>

<style scoped>

  .text-center{
    color: #f8efef;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .card-title{
    color: rgba(66, 66, 66, 0.76);
  }
  .card{
    background-color: rgba(20, 20, 20, 0.658);
  }
  .menu {
  list-style: none;
  margin-bottom: 20px;
  margin-left: -30px;
  }
  .menu li {
  display: inline;
  }
  .menu li a {
  padding: 20px;
  text-decoration: none;
  }
  .form-control{
    margin-bottom:20px;
  }
  .modal-body{
    background-color: #000000d7;
  }
  tr td{
    color: #FFFFFF;
  }
  .modal-content{
    background-color: #000000d7;
  }
  th{
    color: #f8efef;
  }
</style>
<script>
import axios from 'axios'
export default {
  head() {
        return {
            title: "mi favorita"
        }
    },
  data() {
    return {
      detailMenu: [],
    }
  },
  computed: {
    favoritku: function() {
      return this.$store.state.favorite
    }
  },
  methods: {
    detail: function(id) {
      axios.get("https://www.themealdb.com/api/json/v1/1/lookup.php?i="+id)
      .then(response => {
        this.detailMenu = response.data.meals
      })
    },
    keluar: function() {
      this.detailMenu = [];
    },
  }
}
</script>>
